.outOfView {
    opacity: 0;
}

.animateFadeIn {
    opacity: 1;
    animation: AnimationFadeIn var(--transition-delay) ease-in forwards;
    /* animation-delay: var(--transition-delay); */
}

@keyframes AnimationFadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}