.skills {
    padding: 40px 10px;
    background-color: #1e1e1e;
    text-align: center;
}

.about-main {
    max-width: 750px;
    margin: 0 auto;
}

.skill-container {
    margin: 0 auto;
    max-width: 1000px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}