.navbar {
    width: 100%;
    max-height: 60px;
    background-color: #20242D;
}

.navbar-container {
    display: flex;
    flex-direction: row;
    max-width: 600px;
    margin: 0 auto;
    justify-content: center;
}

.navbar-container ul {
    margin: 0;
    padding: 0;
}

.navbar-container ul li {
    list-style-type: none;
    margin: 0 20px;
    display: inline-flex;
}

.navbar-container a {
    display: block;
    font-size: 20px;
    color: white;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

.navbar-container a:hover {
    color: #F33A6E;
    transition: color 0.3s ease-in-out;
}

@media only screen and (max-width: 390px) {
    .navbar-container a {
        font-size: 16px;
    }
}