.award-card {
    display: flex;
    flex-direction: column;
    width: 400px;
    text-align: left;
    margin: 10px;
}

.award-card:not(:first-child):not(:last-child) {
    border-left: 2px solid white;
    border-right: 2px solid white;
    text-align: center;
}

.award-card h2 {
    font-size: 18px;
    margin: 5px 0px;
}

.award-card h3 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 16px;
}

.award-card p {
    margin-top: 10px;
}