.socialLink {
    font-size: 40px;
}

.social-links a {
    margin: 0 10px;
    color: white;
    transition: all 0.3s ease-in-out;
}

.social-links a:hover {
    color: rgb(243, 58, 106);
    transition: all 0.3s ease-in-out;
}

#heroImg {
    animation: slide-in-from-left 1s;
} 

.header-text {
    animation: slide-in-from-right 1s;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 100;
    }
}

@keyframes slide-in-from-left {
    from {
        transform: translateX(-500px);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes slide-in-from-right {
    from {
        transform: translateX(500px);
    }

    to {
        transform: translateX(0);
    }
}