.App {
  text-align: center;
}

.fh-container {
  height: 100vh;
  background-color: #1e1e1e;
  color: white;
  margin: 0;
}

.light-h2 {
  font-size: 32px;
  font-weight: 300;
  margin: 0;
  max-width: 500px;
  text-align: center;
}

.centered-flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.bg-gradient-ltb {
  background: linear-gradient(to bottom, #1E1E1E 15%, #000 100%);
}

.border-br25 {
  border-bottom-left-radius: 150px;
  border-bottom-right-radius: 150px;
}

.btn {
  padding: 10px 20px;
  border: 0;
  margin: 20px;
}

.btn:hover {
  cursor: pointer;
}

/*******************************/
/*  Background Colour Classes  */
/*******************************/

.bg-gold {
  background-color: #9B812A;
}

/**********************/
/* Text Color Classes */
/**********************/

.txt-white {
  color: #ffffff;
}